*{
    margin: 0px;
    padding: 0px;
}

/*header*/
body{
    background-color: rgb(247, 248, 250);
}
header{
    height: 80px;
    width: 100%;
    background-color: rgb(52, 209, 178);
    position: relative;
}
#logo{
    position: absolute;
    top: 50%;
    left:10%;
    margin-top: -20px;

}
#logo span{
    font-family: "微软雅黑";
    font-size: 38px;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    color: white;
}
#nav{
    position: absolute;
    top: 50%;
    right: 20%;
    margin-top: -10px;

}
#nav li{
    float: left;
    list-style: none;
    margin-right: 30px;
    text-align: center;
}
#nav li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 107, 83);
    display: block;
}
#nav li a:hover{
    color: rgb(69, 182, 247);
}
#more{
    position: relative;
}
#more ul{
    position: absolute;
    background-color: rgb(52, 209, 178);
    display: none;
}
#more:hover ul{
    display: block;
}
#more>ul li{
    list-style: none;
    clear: both;
    text-align: center;
    margin: 0;
    margin-top: 8px;
    margin-left: 2px;
}
#more>ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(51, 51, 51);
    display: block;

}
#sign{
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -8px;
}
#signUp{
    padding: 8px;
    margin-right: 20px;
    background-color: rgb(247, 248, 250);
    border-radius: 5px;
}
#signIn{
    padding: 8px;
    background-color: rgb(1, 187, 211);
    border-radius: 5px;
}
#signUp a{
    font-size: 16px;
    color: rgb(160, 159, 159);
    text-decoration: none;
}
#signIn a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

/*footer*/
footer{
    clear: both;
}
#footerItem1{
    height: 150px;
    background: rgb(52, 209, 178);
}
#footerNav1{
    width: 1000px;
    margin: 0 auto;
}
#footerNav1 li{
    list-style: none;
    color: white;
}
#footerNav1 a{
    text-decoration: none;
    color: rgb(160, 159, 159);
}
.footerTitle{
    float: left;
    margin: 0 80px;
    padding: 20px 0;
}
.footerTitle li{
    clear: both;
}
#about li{
    color: rgb(160, 159, 159);
}
#footerItem2{
    background-color: rgb(31, 125, 99);
    padding: 10px;
    text-align: center;
}
#footerItem2 span{
    margin:0 20px;
    color: rgb(160, 159, 159);
    font-size: 16px;
}

/*main*/
main{
    width: 1200px;
    margin: 0 auto;
}
#left{
    width: 900px;
    float: left;
}
#slideShow{
    width: 800px;
    height: 500px;
}
#articleList{
    height: 1000px;
}
aside{
    float: right;
    width: 300px;
    height: 500px;
    background: red;
}

/*article*/
#new{
    font-size: 20px;
    color: rgb(61, 61, 61);
    margin: 5px;
}
.article{
    width: 800px;
    height: 150px;
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(202, 202, 202);
    border-top: none;
}
.article:hover{
    background-color: rgb(249, 249, 249);
}
#firstArticle{
    border-top: 1px solid rgb(202, 202, 202);;
}
.articleImg{
    float: left;
}
.articleRight{
    margin-left: 220px;
    padding: 0 10px;
}
.articleRight a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(82, 82, 82);
}
.meta span{
    margin-right: 20px;
    font-size: 14px;
    color: rgb(173, 173, 173);
}
.note{
    margin: 5px 0;
    font-size: 14px;
    color: rgb(151, 151, 151);
}



